- cache item do
  - path = partner_path item
  %dataset.c-catalog__row[
    itemscope=true
    itemtype='http://schema.org/Dataset'
    ]
    .c-catalog__image.h-layout--hide-tablet-phone
      a%mainEntityOfPage.c-img--thumbnail[href=path]
        .c-banner
          canvas.c-banner__frame.h-bg--cover[
            width=192
            height=192
            data-lazy=(item.upload.nil? ? image_url('no-image.png') : item.upload.thumb.url)
            ]
      - unless item.upload.nil?
        link%thumbnailUrl[href=item.upload.thumb.url]
        link%image[href=item.upload.url]

    .c-catalog__text
      h3%name.mdl-typography--headline
        a%url[href=path] = item.name
      - unless item.content.blank?
        .mdl-typography--caption == item.content
      - unless item.targets.empty?
        .mdl-list = render partial: 'partners/target/item', collection: item.targets.sorted,
                           cached: true
