- cache item do
  %dataset.c-catalog__row[
    itemscope=true
    itemtype='http://schema.org/Dataset'
    ]
    .c-catalog__text
      h3%name.mdl-typography--headline
        a%mainEntityOfPage[href=publish_path(item)] = item.header
