header.c-header.mdl-layout__header.mdl-layout__header--waterfall
  /.mdl-layout__header--waterfall-hide-top


  .c-header__top.mdl-layout__header-row
    h2%name.mdl-layout-title
      a%url.c-header__name[
        class=link_status(root_path)
        href=root_path
        ] Строительная экспертиза

    .mdl-layout-spacer

    nav.mdl-navigation.h-layout--hide-phone
      a.mdl-navigation__link[
        class=link_status(permits_path)
        href=permits_path
        ] = t 'permit.index.label'

    nav.mdl-navigation.c-header--hide-tablet
      a.mdl-navigation__link[
        class=link_status(objects_path)
        href=objects_path
        ] = t 'target.index.label'
      a.mdl-navigation__link[
        class=link_status(partners_path)
        href=partners_path
        ] = t 'customer.index.label'
      a.mdl-navigation__link[
        class=link_status(feedbacks_path)
        href=feedbacks_path
        ] = t 'feedback.index.label'
      a.mdl-navigation__link[
        class=link_status(articles_path)
        href=articles_path
        ] = t 'article.index.label'
      a.mdl-navigation__link[
        class=link_status(publishes_path)
        href=publishes_path
        ] = t 'publish.index.label'

    nav.mdl-navigation.h-layout--hide-phone
      a.mdl-navigation__link[
        class=link_status(contact_path)
        href=contact_path
        ] Контакты

    button&button#header-social.mdl-button.mdl-js-button.mdl-button--icon.mdl-js-ripple-effect
      span.material-icons share
    ul.mdl-menu.mdl-menu--bottom-right.mdl-js-menu.mdl-js-ripple-effect[for='header-social']
      li.mdl-menu__item Twitter
      li.mdl-menu__item Facebook


  .c-header__middle.mdl-layout__header-row
    .mdl-layout-title
      a.c-header__logo[
        class=link_status(root_path)
        href=root_path
        ] Научно Исследовательский Центр
      address.h-layout--hide-phone г.&nbsp;Москва, улица Малая Дмитровка, дом&nbsp;18А, строение&nbsp;3

    .mdl-layout-spacer

    a.c-header__phone.h-text--href.h-layout--hide-phone[href="tel://+74953634723"]
      small>  +7 (495)
      span 363-47-23


  .c-header__bottom.mdl-layout__header-row
    = render 'yandex.search'

    .mdl-layout-spacer

    a.mdl-button.mdl-js-button.mdl-button--icon.mdl-js-ripple-effect.h-text--href[
      href='#'
      data-mailto=Base64.encode64(LOCAL[:email]).squish
      data-mailto-safe=true
      ]
      span.material-icons mail_outline
