- cache 'objects' do
  .c-content__mosaic.mdl-grid.mdl-grid--no-spacing.h-margin-top--3.h-js--aligns
    - for path in (1..(numb ||= 12)).map { |i| "/media/portfolio/#{i}.jpg" }
      .c-banner.mdl-cell.mdl-cell--3-col-desktop
        canvas.c-banner__frame.h-bg--cover.c-img--response[
          width=416
          height=234
          data-lazy=path
          data-lightbox='objects'
          data-lightbox-href=path
          ]
        link%image[href=path]
        .c-banner__title.h-js--align image
